# Pandas - DataFrames

In [5]:
import pandas as pd
import numpy as np

In [6]:
from numpy.random import randn

In [7]:
np.random.seed(101)

DataFrame - a bunch of series that shares an index

In [12]:
df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [13]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

Selecting an index from a dataframe

In [19]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

You can find the datatype of an index in the dataframe by using the function type()

In [18]:
type(df['W'])

pandas.core.series.Series

The methos below is not good to use

In [21]:
df.W

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

Asking fo rmultiple columns

In [22]:
df[['W', 'X']]

          W         X
A -0.993263  0.196800
B  1.025984 -0.156598
C  2.154846 -0.610259
D  0.147027 -0.479448
E -0.925874  1.862864

Adding new columns

In [24]:
df['new'] = df['W'] + df['X']

In [25]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

Use inplace=True to delete the new column

In [26]:
df.drop('new', axis=1, inplace=True)

In [27]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [28]:
df.drop('E')

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [30]:
df.shape

(5, 4)

In [31]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

Selecting rows (rows are also series. Just like columns)

In [33]:
df.loc['A']

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

iloc takes the index location of the dataframe your trying to get instead of the letter

In [35]:
df.iloc[1]

W    1.025984
X   -0.156598
Y   -0.031579
Z    0.649826
Name: B, dtype: float64

In [36]:
df.loc['A', 'W']

-0.993263499973366

In [ ]:
df.loc