In [1]:
import numpy as np
import pandas as pd

In [2]:
# Index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [16]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [17]:
df

             A         B
G1 1  1.772494  0.115210
   2  0.664103 -1.939587
   3  1.071819  0.748250
G2 1  0.611974  0.827187
   2 -2.206253  1.415744
   3 -1.103180  2.149725

In [18]:
df.index.names = ['Groups', 'Num']

In [19]:
df

                   A         B
Groups Num
G1     1    1.772494  0.115210
       2    0.664103 -1.939587
       3    1.071819  0.748250
G2     1    0.611974  0.827187
       2   -2.206253  1.415744
       3   -1.103180  2.149725

In [20]:
# loc - returns a specific location

In [23]:
df.loc['G2'].loc[2]['B']

1.4157443186799037

In [24]:
# Cross section - for multilevel index

In [25]:
df.xs('G1')

            A         B
Num
1    1.772494  0.115210
2    0.664103 -1.939587
3    1.071819  0.748250